/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .w18yb-courses{
     background-color:#ccc;
     margin-top: 1rem;
     padding: 1rem 1.25rem;
     border-radius: 10px;
     
 }

 .w18yb-student-details{
     background-color: #fbb;
     margin-top: 1rem;
     padding: 1rem 1.5rem;
     border-radius: 10px;
 }
 
 


 